.login {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
    width: 100vw;
}

.lContainer {
    width: 20%;
	display: flex;
	align-items: center;
	flex-flow: column;
	gap: 10px;
}

.lContainer input {
    width: 100%;
	padding: 10px;
	height: 30px;
}

.lButton {
	background-color: #0071c2;
	color: whitesmoke;
	font-weight: bold;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
    width: 100%;
}

.lButton:disabled {
	background-color: #0071c28c;
	cursor: not-allowed;
}
